*.egg-info
*.mo
*.pyc
*~
.installed.cfg
bin/
coverage/
develop-eggs/
downloads/
eggs/
include/
lib/
parts/
var/
dist/
buildout-cache
.coverage
.mr.developer.cfg
src/ploneintranet.attachments/
src/plonesocial.activitystream/
src/plonesocial.core/
